<div class="container mt-3">
  <div class="title">
    Broadcast Plugin
    <div class="sub-title">
      Utilize esse plugin para enviar mensagens ativas para seus clientes.
    </div>
  </div>
  <div class="mt-3">
    <mat-card class="card col-md-12">
      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon mr-2">person</mat-icon>
            Individual
          </ng-template>
          <app-broad-individual [templates]="templates" [botId]="botId" [accessKey]="accessKey"></app-broad-individual>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon mr-2">people</mat-icon>
            Planilha
          </ng-template>
          <app-broad-sheet [templates]="templates" [botId]="botId" [accessKey]="accessKey"></app-broad-sheet>
        </mat-tab>
        <mat-tab *ngIf="showConfigurations">
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon mr-2">build</mat-icon>
            Configure seus templates
          </ng-template>
          <app-broad-configuration [templates]="templates"></app-broad-configuration>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </div>
</div>
