<div class="container mt-3">
  <div class="title">
    Broadcast Plugin
    <div class="sub-title">
      Utilize esse plugin para enviar mensagens ativas para seus clientes.
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-6 col-sm-6">
      <mat-card class="example-card">
        <form>
          <mat-form-field class="w-100">
            <mat-label>Favorite food</mat-label>
            <input matInput />
          </mat-form-field>
        </form>
      </mat-card>
    </div>
  </div>
</div>
