@import "src/theme/theme-variables";

.mat-drawer-container {
  height: 100%;
}

.main-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.w-318p {
  width: 318px;
}

// .mat-sidenav {
//   width: 216px;
// }
